<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="74d3507e-6707-4b8b-a075-8dc74c0e51a7" wadlVersion="http://wadl.dev.java.net/2009/02" name="api.guildwars2.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="74d3507e-6707-4b8b-a075-8dc74c0e51a7fileName">api.guildwars2.com</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://api.guildwars2.com</con:endpoint>
  </con:endpoints>
</con:interface>